/* HEADER */

a, label {
    color:#214b68;
}

.fin-ex-logo {
    height: auto;
    width: 150px;
}

.nav-item.active{
    background-color:#214b68;
}

.nav-item.active >a {
    color: #ffffff;
}


/* FOOTER */

footer{
    margin-top: 5rem;
}


/* PAGE 1 - CAROUSEL */

.carouselSlide {display:none;}

.carousel-flexbox-container{
    display:flex;
    justify-content: center;
    margin-top: 2rem;
    position: relative;
}

.carousel-slides-container{
    height: auto;
    position: relative;
}

.carouselSlide{
    height: 80vh;
}

.carousel-buttons-container{
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    text-align: center;
}

.carousel-slide-title-container{
    text-align: center;
}

.carousel-button{
    background-color:#214b68;
    color: #ffffff;
    cursor:default;
    display:inline-block;
    font-size: 24px;
    width: 40px;
    text-align:center;
}

.carousel-title{
    padding-top:2rem;
}

@media only screen and (min-width : 480px){
    .carousel-slides-container img{
        width:100%;
    }
}


/* PAGE 2 - PROPERTY LIST */

.property-list-container ul{
    list-style-type:none;
}

#page2{
    display:none;
}

#property-list ul{
    display:none;
}

#property-list li{
    cursor:cell;
    font-size:32px;
}